
__pycache__/

*.nc

atlite_cutouts/

Y/

data/

*.csv

plots/

API/

results/

tests/
.ssh/
testcode/
.bash_history
.bash_logout
.bashrc
.cloud-locale-test.skip
.condarc
.profile
.wget-hsts
run/run/
